/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

:root {
  font-family: system-ui, sans-serif;
}

.chart-container {
  height: 250px;
}

.focus-chart .chart-container {
  height: 350px;
}
